<div>
  <form [formGroup]="searchStudent">
    <mat-form-field appearance="legacy">
      <mat-label>Search:</mat-label>
      <input
        type="text"
        matInput
        [formControl]="search"
        [matAutocomplete]="auto"
      />
      <mat-error *ngIf="search.invalid"> {{ searchInvalid() }}</mat-error>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="search.invalid"
      [routerLink]="['/form', search.value.id]"
      type="button"
    >
      Edit Student
    </button>

    <button
      mat-raised-button
      color="warn"
      [disabled]="search.invalid"
      (click)="openDialog()"
      type="button"
    >
      Delete Student
    </button>
  </form>
</div>
